body {
    font-family: 'GolosWebTextRegular', Helvetica, Arial, sans-serif;
    color: #2B2B28;
    background-color: #F8F8F8;
    margin: 0;
}

.content {
    width: 770px;
    margin: 0 auto;
}

header.big{
    font-family: 'GolosWebTextDemiBold';
    text-align: center;
    font-weight: bold;
    font-style: normal;
    padding-top: 60px;
    padding-bottom: 50px;
    position: relative;
    line-height: 43px;
}

header.big span.pre {
    position: absolute;
    font-size: 60px;
    color: #F66767;
    padding-left: 45px;
}

header.big span {
    display:block;
}

header.big span.title{
    font-size: 60px;
    color: #2B2B28;
}

header.big span.subtitle {
    font-size: 24px;
    margin: 0;
    color: #2B2B28;
}

header.small{
    font-family: 'GolosWebTextBold';
    font-weight: bold;
    font-style: normal;
    font-size: 36px;
    padding: 30px;
    display: none;
}

header.small .title{
    color: #2B2B28;
}

header.small .red {
    font-family: 'GolosWebTextBold';
    font-size: 42px;
    color: #F66767;
}

article {
    font-family: 'GolosWebTextDemiBold', Helvetica, Arial, sans-serif;
    background-color: #EDEDED;
    font-weight: bold;
    font-size: 20px;
    padding: 25px;
    margin-bottom: 15px;
    transition: background-color 300ms linear;
}

article:hover{
    background-color: #E5E5E5;
}

article .head {
    height: 45px;
}

article .number{
    float: left;
    font-size: 32px;
    padding-right: 15px;
}

article .read {
    float:right;
    font-size: 28px;
    padding-left: 15px;
}

article .text {
    color: #F66767;
    text-decoration: none;
}

@media only screen and (max-width: 790px) {
    .content {
        width: 100%;
    }
}

@media only screen and (max-width: 730px) {
    h1, h2, h3, h4{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (max-width: 730px) {
    header.big {
        display: none;
    }
    header.small {
        display: block;
    }
}

main nav a {
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
}

main nav a.prev {
    float: left;
}

main nav a.next {
    float: right;
}

main .read_line{
    padding: 20px;
    font-size: 18px;
}

main .read_line .read {
    background: blueviolet;
    padding: 5px 12px;
    width: 42px;
    height: 20px;
    color: white;
    border-radius: 25px;
    font-weight: bold;
    margin-right: 12px;
}

main .read_line a {
    color: #2B2B28;
}

.text {
    font-family: 'GolosWebTextRegular', Helvetica, Arial, sans-serif!important;
    font-weight: normal!important;
}

.header {
    text-decoration: none;
}

nav.conv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-bottom: 10px;
}

nav.conv a {
    font-size: 26px;
    background-color: #EDEDED;
    color: #2B2B28;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;;
}

nav.conv a:hover {
    background-color: #E0E0E0;
}

nav.conv a span.help {
    white-space: pre-wrap;
}

@media only screen and (max-width: 600px) {
    nav.conv a span.help {
        display: none;
    }
}